@use "../variables" as *;
@use "../base/mixins" as *;

.btn {
    background-color: $primary-text;
    width: 295px;
    height: 54px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include lato-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media (min-width: 768px) {
        font-size: 20px;
        width: 290px;
        height: 64px;
    }

    &--orange {
        background-color: $orange;
        border-color: rgba(0, 0, 0, 0.20);
        color: $white;

        @include hover-bg-transition($orange);
    }

    &--white {
        background-color: $white;
        border-color: $border-color;
        color: $secondary-text;

        @include hover-bg-transition($white);
    }

    &--gray {
        background-color: $background-light;
        border-color: $border-color;
        color: $secondary-text;

        @include hover-bg-transition($white);
    }
}

