@use "../variables" as *;
@use "../base/mixins" as *;

.hero-screenshot {
    padding-top: 100px;
    padding-bottom: 98px;
    background-color: $background-light;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 50px;
    }

    &__image {
        max-width: 457px;
        width: 100%;
    }

    &__title {
        @include lato-font;
        font-size: 32px;
        font-weight: 700;
        line-height: normal;
        color: $primary-text;
        margin-bottom: 20px;
    }

    &__copy {
        @include lato-font;
        color: $secondary-text;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
}
