@use "../variables" as *;
@use "../base/mixins" as *;
@use "sass:color";

.secondary-features {
    padding-block: 60px;

    @media (min-width: 1024px) {
        padding-block: 80px;
    }

    @media (min-width: 1024px) {
        padding-top: 98px;
        padding-bottom: 100px;
    }

    .simple-screenshots {
        display: flex;
        gap: 50px;
        margin-bottom: 55px;
        flex-direction: column;

        @media (min-width: 576px) {
            flex-direction: row;
        }

        @media (min-width: 1024px) {
            margin-bottom: 94px;
        }

        &__image {
            width: 100%;

            @media (min-width: 1024px) {
                max-width: 455px;
            }
        }
    }

    &__headline {
        @include lato-font;
        color: $primary-text;
        text-align: center;
        font-size: 21px;
        line-height: 30px;
        font-style: normal;
        font-weight: 700;
        max-width: 600px;
        margin: 0 auto;

        @media (min-width: 1024px) {
            font-size: 24px;
            line-height: 36px;
            max-width: 100%;
        }
    }

    &-grid {
        display: flex;
        margin-block: 30px;
        flex-direction: column;
        align-items: center;

        @media (min-width: 768px) {
            max-width: 700px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 45px auto;
        }

        @media (min-width: 1024px) {
            margin-block: 68px;
            max-width: 100%;
        }

        &__feature {
            flex: 1;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            text-align: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            width: 260px;
            padding-block: 30px;

            &:last-of-type {
                border-bottom: none;
            }


            @media (min-width: 768px) {
                max-width: 250px;
                width: 50%;
                flex: 0 0 calc(50% - 20px);
                border: 0;
            }

            @media (min-width: 1024px) {
                width: 33.333%;
                flex: 1;
            }

            &-icon {
                width: 48px;
                height: 48px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &__cta {
        text-align: center;

        &-title {
            @include lato-font;
            color: $primary-text;
            text-align: center;
            font-size: 21px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            margin: 0 auto 10px;

            @media (min-width: 1024px) {
                font-size: 24px;
                line-height: 36px;
                max-width: 100%;
            }
        }

        &-copy {
            @include lato-font;
            color: $secondary-text;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;

            @media (min-width: 1024px) {
                font-size: 18px;
                line-height: 24px;
            }

            a {
                @include lato-font;
                color: $blue;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: unset;
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: none;
                text-decoration-thickness: auto;
                text-underline-offset: 2px;
                text-underline-position: from-font;
                display: inline-block;

                @include hover-transition($blue);

                @media (min-width: 768px) {
                    line-height: normal;
                    display: inline;
                }

                @media (min-width: 1024px) {
                    font-size: 18px;
                }
            }
        }
    }
}
