@use "../variables" as *;

body {
    font-family: 'Lato', sans-serif;
    line-height: 150%;
    color: $secondary-text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.1px;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.heading-text {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    color: $primary-text;
}

.body-text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.shadow-medium {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.10);
}

.shadow-large {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.15);
}
